.signin {
  background-image: url("img/team4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 110%;
  position: absolute;
}

.header {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 300px;
  background-image: url("img/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Application {
  background-image: url("img/draganddrop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
  width: 100%;
  height: 110%;
  position: absolute;
}
.btn-dark {
  opacity: 0.93;
  background-color: white;
  border-color: #3ce5bb;
}

.btn-outline-info:hover {
  background-color: #3ce5bb;
  border-color: #3ce5bb;
  color: black;
}
.btn-dark:hover {
  background-color: #3ce5bb;
  border-color: #3ce5bb;
  color: black;
}

input:on-focus {
  background-color: #3ce5bb;
  color: black;
}

button {
  padding: 2px;
}
