#form-elements-register-user {
  background-color: none !important;
  margin: 0 auto;
  margin-top: 420px;
  width: 295px;
}

.form-control {
  width: 230px;
}

head,
html,
body,
div .centre {
  margin: 0 auto;
}

