
#form-elements {
 background-color: whitesmoke;
  margin: auto;
  margin-top: 295px;
  margin-left: 260px;
  width: 295px;
  border-radius: 20px;
}

.form-control {
  width: 230px;

}

head,
html,
body,
div 

.centre {
  margin: 0 auto;
}

